//
//  Staging.xcconfig
//  XcConfigFileDemo
//
//  Created by Arshad Shaik on 23/03/23.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "Base.xcconfig"

APP_NAME = $(inherited)QA
PRODUCT_BUNDLE_IDENTIFIER = $(inherited)QA
ASSETCATALOG_COMPILER_APPICON_NAME = $(inherited)Staging
BASE_URL = https:/$()/creliohealth.qa.com
